#map { float:left; width:75%; height:100%; }
#message { position:absolute; padding:10px; background:#555; color:#fff; width:75px; }
#list { float:left; width:200px; background:#eee; list-style:none; padding:0; }
#list li { padding:10px; }
#list li:hover { background:#555; color:#fff; cursor:pointer; cursor:hand; }
#OpenLayers.Control.PanZoom_5_zoomworld {display:none;}
#sidebar {width: 25%; height: 100%; float: right; overflow: auto;}
#databases { list-style-type: none;}
#databases li:hover { font-weight: bold; cursor: pointer; cursor: hand;}
#loader { position: absolute; display: none; z-index: 666; }
form {padding: 0; margin: 0;}
.selected {font-weight: bold; color: #019DBE;}
.geocoder_form {width: 300px; position: absolute; z-index: 999; left: 55px; top: 10px;}
.geocoder {width: 200px; border: 1px solid black;}
h3 {font-size: 20px; padding: 0; margin: 0;}
#metadata { height: 50%; overflow: auto; margin-left: 10px;}
#menu { height: 50%; overflow: auto; margin-left: 10px;}
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }

dl {
	float: left;
	width: 100%;
	margin: 1em 0;
	padding: 0;
}

dt {
	clear: left;
	float: left;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

dd {
	float: left;
	margin: 0;
	padding: 5px;
}